@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

:root {
  --font-heading: 'Hina Mincho', serif;


  --color-black: #1B1717;
  --color-darkred: #810000;
  --color-red: #CE1212;
  --color-white: #EEEBDD;
}

* {
  margin: 0;

}

/* Navbar Section */

.navbar {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  color: var(--color-white);
  position: fixed;
  z-index: 11;
  transition: 1s;
}



.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: none;
}

.navigation-menu ul {
  /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
  position: absolute;
  top: 60px;
  left: 0;
  /* // stacks the li tags vertically  */
  flex-direction: column;
  /* // makes menu span full height and width */
  height: 100%;


}

.navigation-menu li {
  /* // centers link text and strips off margin */
  text-align: center;
  margin: 1em 2em;
  list-style: none;
}

.navigation-menu li a {
  color: var(--color-cream);
  /* // increases the surface area of the anchor tag to span the full width of the menu */
  width: 100%;
  animation: fade2 1s;


  text-decoration: none !important;
}

.navigation-menu li a:hover {
  color: var(--color-red);
  transition: 1s;
}

.navigation-menu ul {
  /* previous styles */
  display: none;
  background-color: var(--color-black);
  opacity: 0.9;
  font-family: var(--font-heading);
  position: absolute;
}

.navigation-menu.expanded ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-heading);
  transition: 1s;
  font-size: 20px;
  height: 100%;
  top: 0;
  padding-top: 8rem;
  letter-spacing: 3px;
}

.header_kanjinav {
  color: var(--color-white);
  padding-top: 10rem;
  font-family: var(--font-heading);
  font-weight: lighter;
  letter-spacing: 10px;
  transition: .5s;
}

.header_kanjinav span {
  color: var(--color-red);
  font-weight: lighter;
  padding-left: 1rem;
}




.hamburger {
  /* // removes default border on button element */
  font-size: 42px;
  border: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: none;
  transition: 1s;
  z-index: 10;
  padding-top: 0.6rem;
  background: none;
}

.hamburger:hover {
  color: var(--color-red);
}

.hamburger {
  /* // removes default border on button element */
  display: block;

}

/* Header Section */

.header_container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  height: 100vh;
  position: relative;
}

.header_heading-container {
  text-align: right;
  padding: 2rem;
}


.header_kanji {
  color: var(--color-red);
  font-weight: lighter;
  padding-left: 1rem;
}




.header_image {
  background-image: url('/static/fuji1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 500px;
  filter: grayscale(.5);
}

.kanji {
  bottom: -200px;
  position: absolute;
  height: 700px;
}

/* About Section */

.about_container {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  padding: 10rem;
  z-index: 12;
}

.about_button-container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;

}



.about_text-container {
  text-align: right;
  width: 50vw;

}

.about_text-container h1 {
  font-family: var(--font-heading);
  color: var(--color-red);
  font-size: 80px;
  letter-spacing: 10px;
  font-weight: lighter;
}

.about_text-container p {
  color: var(--color-white);
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: lighter;
  font-family: var(--font-heading);
}

/* Process Section */

.process_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  height: 50vh;
  padding: 10rem;
  position: relative;
  z-index: -2;
}



.process_card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--font-heading);
}

.process_card-container h1 {
  color: var(--color-darkred);
}

.process_card-container button {
  border: solid 1px var(--color-red);
  font-family: var(--font-heading);
  color: var(--color-darkred);
  background-color: var(--color-white);
  cursor: pointer !important;
  padding: .5rem;
}

/* Legacy Section */

.legacy_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 30vh;
  background-color: var(--color-darkred);
  padding: 10rem;
  position: relative;
}

.legacy_kanji {
  position: absolute;
  top: -4rem;
  right: 5rem;
  color: var(--color-white);
  font-family: var(--font-heading);
  font-weight: lighter;
  font-size: 60px;
  letter-spacing: 10px;
  transition: .5s;
}


/* Contact Section */

.contact_container {
  background-color: var(--color-black);
  height: 100%;
  padding-bottom: 10rem;

}

.contact_container h1 {
  color: var(--color-white);
  font-family: var(--font-heading);
  font-size: 60px;
  padding: 5rem 0 0 10rem;
}

.contact_links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-heading);
  color: var(--color-white);
  font-size: 24px;
  gap: 2rem;
  padding-top: 5rem;
  cursor: pointer;
  transition: 1s;
}

.contact_links a:hover {
  transition: 1s;
  color: var(--color-darkred);
}

.contact_icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-heading);
  color: var(--color-white);
  font-size: 70px;
  gap: 2rem;
  padding-top: 2rem;
  transition: 1s;
}

.contact_icons:hover {
  transition: 1s;
  color: var(--color-darkred);
  cursor: pointer;
}

.contact_icons form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.contact_icons form input {
  background-color: var(--color-white);
  border: none;
}

.contact_icons button {
  background-color: var(--color-black);
  border: 2px solid var(--color-red);
  color: var(--color-red);
  font-family: var(--font-heading);
  cursor: pointer;
}

@media screen and (max-width: 1800px) {
  .kanji {
    height: 75%;
  }

  .about_container {
    height: 70vh;
  }

}

@media screen and (max-width: 450px) {

  .kanji {
    bottom: -180px;
    left: -4rem;
    position: absolute;
    height: 480px;
    width: 100%;
  }

  /* About Section */

  .about_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    padding: 10rem;
    z-index: 12;
  }

  .about_button-container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;

  }



  .about_text-container {
    text-align: center;
    width: 300px;

  }

  .about_text-container h1 {
    font-family: var(--font-heading);
    color: var(--color-red);
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: lighter;
    margin: 2rem 0;
  }

  .about_text-container p {
    color: var(--color-white);
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: var(--font-heading);
  }

  /* Process Section */

  .process_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    height: 100%;
    padding: 1rem;
    position: relative;
    z-index: -2;
  }



  .process_card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-heading);
    padding-top: 12rem;
    padding-bottom: 5rem;
  }

  .process_card-container h1 {
    color: var(--color-darkred);
  }

  .process_card-container button {
    border: solid 1px var(--color-red);
    font-family: var(--font-heading);
    color: var(--color-darkred);
    background-color: var(--color-white);
    cursor: pointer !important;
    padding: .5rem;
  }

  .legacy_kanji {
    position: absolute;
    top: -2rem;
    right: 0rem;
    width: 100%;
    color: var(--color-white);
    font-family: var(--font-heading);
    font-weight: lighter;
    font-size: 32px;
    letter-spacing: 10px;
    transition: .5s;
  }


  /* Contact Section */

  .contact_container {
    background-color: var(--color-black);
    height: 100%;
    padding-bottom: 10rem;

  }

  .contact_container h1 {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 40px;
    padding: 2rem 0 0 0;
    text-align: center;
  }

  .contact_links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-heading);
    color: var(--color-white);
    font-size: 24px;
    gap: 2rem;
    padding-top: 5rem;
    cursor: pointer;
    transition: 1s;
  }

  .contact_links a:hover {
    transition: 1s;
    color: var(--color-darkred);
  }

  .contact_icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-heading);
    color: var(--color-white);
    font-size: 70px;
    gap: 2rem;
    padding-top: 2rem;
    transition: 1s;
  }

  .contact_icons:hover {
    transition: 1s;
    color: var(--color-darkred);
    cursor: pointer;
  }

  .contact_icons form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
  }

  .contact_icons form input {
    background-color: var(--color-white);
    border: none;
  }

  .contact_icons button {
    background-color: var(--color-black);
    border: 2px solid var(--color-red);
    color: var(--color-red);
    font-family: var(--font-heading);
    cursor: pointer;
  }

}