.header_heading {
  color: var(--color-white);
  padding: 2rem;
  font-size: 130px;
  opacity: 0;
  font-family: var(--font-heading);
  font-weight: lighter;
  letter-spacing: 10px;
  transition: .5s;
}

.animateheader_heading {
  opacity: 1;
  transition: 4s;
  filter: blur();
}

.about_button {
  color: var(--color-red);
  background-color: var(--color-black);
  font-family: var(--font-heading);
  border: solid 2px var(--color-red);
  font-size: 30px;
  letter-spacing: 5px;
  padding: 2rem;
  cursor: pointer;
  transition: 1s;
  border-radius: 10px;
}

.about_button:hover {
  color: var(--color-white);
  background-color: var(--color-red);
  border: solid 2px var(--color-red);
  transition: 1s;

}

.animateabout_button {
  transition: 1s;
  transform: translateY(-10px);
  filter: blur();
}

.process_circle {
  border-radius: 50%;
  background-color: var(--color-darkred);
  height: 500px;
  width: 500px;
  position: absolute;
  top: -30rem;
  left: -30rem;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 2s;
}

.animateprocess_circle {
  transition: 2s;
  filter: blur();
  transform: translateX(18rem) translateY(18rem);
}

.process_card1 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 600px;
}

.animateprocess_card1 {
  transition: 1s;
  transition-delay: .5s;
  transform: translateY(1rem) scale(110%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.process_card2 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 600px;
}

.animateprocess_card2 {
  transition: 1s;
  transition-delay: .6s;
  transform: translateY(1rem) scale(110%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.process_card3 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 600px;
}

.animateprocess_card3 {
  transition: 1s;
  transition-delay: .7s;
  transform: translateY(1rem) scale(110%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.process_card4 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 600px;
}

.animateprocess_card4 {
  transition: 1s;
  transition-delay: .8s;
  transform: translateY(1rem) scale(110%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Legacy Section */

.legacy_text {
  color: var(--color-white);
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: lighter;
  font-family: var(--font-heading);
  opacity: 0;
}

.animatelegacy_text {

  transition: 2s;
  transition-delay: .2s;
  opacity: 1;
  filter: blur();
}

@media screen and (max-width: 1800px) {
  .header_heading {
    color: var(--color-white);
    padding: 2rem;
    font-size: 100px;
    opacity: 0;
    font-family: var(--font-heading);
    font-weight: lighter;
    letter-spacing: 10px;
    transition: .5s;
  }

  .animateheader_heading {
    opacity: 1;
    transition: 4s;
    filter: blur();
  }

}

@media screen and (max-width: 450px) {

  .header_heading {
    color: var(--color-white);
    padding: 2rem;
    font-size: 50px;
    opacity: 0;
    font-family: var(--font-heading);
    font-weight: lighter;
    letter-spacing: 10px;
    transition: .5s;
  }

  .animateheader_heading {
    opacity: 1;
    transition: 4s;
    filter: blur();
  }

  .about_button {
    color: var(--color-red);
    background-color: var(--color-black);
    font-family: var(--font-heading);
    border: solid 2px var(--color-red);
    font-size: 20px;
    letter-spacing: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
  }

  .about_button:hover {
    color: var(--color-white);
    background-color: var(--color-red);
    border: solid 2px var(--color-red);
    transition: 1s;

  }

  .animateabout_button {
    transition: 1s;
    transform: translateY(-10px);
    filter: blur();
  }

  .process_circle {
    border-radius: 50%;
    background-color: var(--color-darkred);
    height: 500px;
    width: 500px;
    position: absolute;
    top: -30rem;
    left: -30rem;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 2s;
  }

  .animateprocess_circle {
    transition: 2s;
    filter: blur();
    transform: translateX(18rem) translateY(18rem);
  }

  .process_card1 {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 200px;
  }

  .animateprocess_card1 {
    transition: 1s;
    transition-delay: .5s;
    transform: translateY(1rem) scale(110%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .process_card2 {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 200px;
  }

  .animateprocess_card2 {
    transition: 1s;
    transition-delay: .5s;
    transform: translateY(1rem) scale(110%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .process_card3 {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 200px;
  }

  .animateprocess_card3 {
    transition: 1s;
    transition-delay: .5s;
    transform: translateY(1rem) scale(110%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .process_card4 {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 200px;
  }

  .animateprocess_card4 {
    transition: 1s;
    transition-delay: .5s;
    transform: translateY(1rem) scale(110%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  /* Legacy Section */

  .legacy_text {
    color: var(--color-white);
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: var(--font-heading);
    opacity: 0;
    width: 300px;
  }

  .animatelegacy_text {

    transition: 2s;
    transition-delay: .2s;
    opacity: 1;
    filter: blur();
  }

}